body, html{
  }
  
  canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast
  }

.full-width {
  width: 100%;
  margin: 20px;
}

input, button {
  width: 100%;
  padding: 20px;
}
